<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo List</title>
</head>
<body>
    <h1>My Todos</h1>
    <div id="todo-list-container">
        {{#each todos}}
            <div id="todos-{{ this.id }}">
                <h3>{{ this.text }}</h3>
                {{#if this.isCompleted}}
                    <p>Complete!</p>
                {{/if}}
                <button onclick="setTodos()">Delete</button>
                <button onclick="setTodos()">Mark as Completed</button>
            </div>
        {{/each}}
    </div>
    <div style="margin-top: 10px">
        <input id="new-todo-input" placeholder="Enter your new todo here...">
        <button onclick="onCreateTodo()">Add to List</button>
    </div>
</body>
<script>
    let todos = JSON.parse(`{{{ todoString }}}`);

    function setTodos(todos) {
        const container = document.getElementById('todo-list-container');
        container.innerHTML = '';

        for (let todo of todos) {
            const newTodoContainer = document.createElement('div');
            const newTodoHeading = document.createElement('h3');
            newTodoHeading.innerText = todo.text;
            newTodoContainer.appendChild(newTodoHeading);

            if (todo.isCompleted) {
                const newTodoCompletedMessage = document.createElement('p');
                newTodoCompletedMessage.innerText = 'Completed!'
                newTodoContainer.appendChild(newTodoCompletedMessage);
            }

            const newTodoDeleteButton = document.createElement('button');
            newTodoDeleteButton.innerText = 'Delete';
            newTodoDeleteButton.onclick = function() {
                onDeleteTodo(todo.id);
            }
            newTodoContainer.appendChild(newTodoDeleteButton);

            const newTodoCompleteButton = document.createElement('button');
            newTodoCompleteButton.innerText = 'Mark as Completed';
            newTodoCompleteButton.onclick = function() {
                onCompleteTodo(todo.id);
            }
            newTodoContainer.appendChild(newTodoCompleteButton);

            container.appendChild(newTodoContainer);
        }
    }
    
    function onCreateTodo() {
        const input = document.getElementById("new-todo-input");
        const newTodoText = input.value;

        fetch('/todos', {
            method: 'POST',
            body: JSON.stringify({ newTodoText }),
            headers: { 'Content-Type': 'application/json' }
        }).then(res => res.json())
        .then(newTodo => {
            todos.push(newTodo);
            setTodos(todos);
            input.value = '';
        })
    }

    function onCompleteTodo(id) {
        fetch(`/todos/${id}`, {
            method: "PUT"
        })
        .then(res => res.json())
        .then(updatedTodo => {
            todos = todos.map(t => t.id === updatedTodo.id ? updatedTodo : t)
            setTodos(todos);
        });
    }

    function onDeleteTodo(id) {
        fetch(`/todos/${id}`, {
            method : "DELETE"
        })
        .then(res => res.json())
        .then(delTodo => {
            todos = todos.filter(t => t.id !== delTodo.id);
            setTodos(todos);
        });
    }
</script>
</html>