<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>
<body>
    {{!-- Using Each helper --}}
    {{#each users }}
        <h3>{{ this.name }}</h3>
        {{!-- Usage of if helper, if age does not exist --}}
        {{#if this.age}}
            <p>Age: {{ this.age }}</p>
        {{/if }}
        <p>Hair Color: {{ this.hairColor }}</p>
    {{/each }}
</body>
</html>